.options-container{
    border: 2px solid darkgray;
    border-radius: 30px;
    display: flex;
    height:100px;
    width: 50vw;
    left: 25vw;
    bottom: -50px;
    font-size: 4vh;
    justify-content: center;
    position: fixed;
    z-index: 1;
    padding-top: 0;
}
