.home-container{
    width: 100vw;
    height: calc( 100vh - 80px);
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    background-color: white;
}
.friendlist{
    display: flex;
    position: absolute;
    border:1px solid grey;
    flex-direction: column;
    width:250px;
    height: 100%;
    left:0
}
.splash-logo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/3DepotLogoSmall.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}
.chatbar{
    width: calc(100vw - 250px);
    position: absolute;
    right:0px;
    bottom: 0px;
    padding-inline: 0;
    z-index: 5;
}
.single-message{
    display: flex;
    margin-top: 10px;
}
.from-me{
    justify-content: right;
}
.from-them{
    justify-content: left;
}
.from-me .list-group-item{
    border-radius: 20px !important;
    color: black;
    background-color: var(--holo-blue-alpha);
}
.from-them .list-group-item{
    border-radius: 20px !important;
    color: black;
    background-color: var(--holo-blue);
}
.chat-space{
    display: flex;
    position: relative;
    border:1px solid grey;
    overflow-y: auto;
    right:0;
    width: calc(100vw - 252px);
    height: 100%;
    bottom: 0;
    background-color: white;
}
.friend-space{
    background-color: var(--holo-blue-alpha);
    display: flex;
    position: relative;
    border:1px solid grey;
    overflow-y: auto;
    width: 252px;
    height: 100%;
}
@media(max-width:600px){
.chat-space{
    display: flex;
    position: relative;
    border:1px solid grey;
    overflow-y: auto;
    right:0;
    width: 100vw;
    height: 100%;
    bottom: 0;
    z-index: 0;
}
.friend-space{
    display: flex;
    position: absolute;
    border:1px solid grey;
    overflow-y: auto;
    width: 252px;
    height: 100%;
    z-index: 5;
}
}