.home-container{
    width: 100vw;
    height: calc( 100vh - 80px);
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    background-color: white;
}
.friendlist{
    display: flex;
    position: absolute;
    border:1px solid var(--boot-gray);
    flex-direction: column;
    width:250px;
    height: 100%;
    left:0px;    
    overflow-y:auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    background-color: var(--holo-blue-alpha);
    z-index: 2;
}
  .friendlist::-webkit-scrollbar {
      display: none;
  }
  .convo-header-Hide{
    position: fixed;
    left: -0px;
    width: 100%;
    height: 38px;
    background-color: var(--holo-blue);
    z-index: 3;
    border-bottom: 1px solid var(--boot-gray);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .convo-header-Hide .convo-header-text{
    position: relative;
    left: 120px;
    transition: left .3s;
  }
  .convo-header-Show{
    position: fixed;
    left: -0px;
    width: 100%;
    height: 38px;
    background-color: var(--holo-blue);
    z-index: 3;
    border-bottom: 1px solid var(--boot-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .convo-header-Hide .convo-header-text{
    position: relative;
    left: 120px;
    transition: left .3s;
    color: white;
  }

.splash-logo{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/3DepotLogoSmall.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    z-index: 0;
}

.chatbar{
    width: calc(100vw - 250px);
    position: fixed;
    right:0px;
    bottom: 0px;
    padding-inline: 0;
    z-index: 5;
    
}
.chatbar .form-control{
    border-radius: 0px;
    border-right: none !important;
    border-left: none !important;
}
.single-message{
    display: flex;
    margin-top: 10px;
}
.from-me{
    justify-content: right;
}
.from-them{
    justify-content: left;
}
.from-me .list-group-item{
    border-radius: 20px !important;
    color: black;
    background-color: var(--holo-blue-alpha);
}
.from-them .list-group-item{
    border-radius: 20px !important;
    color: black;
    background-color: var(--holo-blue);
}
.chat-space{
    display: flex;
    position: relative;
    overflow-y: auto;
    right:0;
    width: calc(100vw - 270px);
    height: 100%;
    bottom: 0;
    background-color: white;
    z-index: 0;
}
.friend-space-Hide{
    display: flex;
    position: relative;
    overflow-y: auto;
    width: 270px;
    height: 100%;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    left: 0px;
    transition: left .3s;
}
.friend-space-Show{
    display: flex;
    position: relative;
    overflow-y: auto;
    width: 270px;
    height: 100%;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    left: 0px;
    transition: left .3s;
}
.friend-space::-webkit-scrollbar{
    display: none;
}
.chat-window{
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 20px;
}
.msg-content{
    font-size: 12pt;
}
.msg-img{
    font-size: 12pt;
    display: flex;
    justify-content: center;
}
.user-time{
    font-size: 6pt;
}
.send-button{
    height: 38px;
    width: 38px;
    position: relative;
    background-color: var(--holo-blue);
    border: 1px solid var(--boot-gray);
    border-radius: 0px;
    border-left: none;
    border-right: none;

}
.send-button svg{
    rotate: 45deg;
    position: absolute;
    top: 10px;
    left: 9px;
    color: white;
}
.add-pic-button{
    height: 38px;
    width: 38px;
    position: relative;
    background-color: var(--holo-blue);
    border: 1px solid var(--boot-gray);
    border-radius: 0px;
    border-left: none;
    border-right: none;
}
.add-pic-button .img-svg{
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
}
.add-pic-button .plus-svg{
    position: absolute;
    top: 18px;
    left: 19px;
    font-size: 8pt;
    color: white;
}
@media(max-width:657px){
 .chat-space{
    display: flex;
    position: absolute;
    overflow-y: auto;
    right:0;
    width: 100vw;
    height: 100%;
    bottom: 0;
    z-index: 0;
    padding-left: 20px;
}
.friend-space{
    display: flex;
    position: absolute;
    overflow-y: auto;
    width: 270px;
    height: 100%;
    z-index: 5;
    left: 0px;
    background: none;
} 
  .chatbar{
    width: calc(100vw);
}
.friend-space-Hide{
    display: flex;
    position: relative;
    overflow-y: auto;
    width: 270px;
    height: 100%;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    left: 0px;
    transition: left .3s;
}
.friend-space-Show{
    display: flex;
    position: relative;
    overflow-y: auto;
    width: 270px;
    height: 100%;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    left: -250px;
    transition: left .3s;
}
.convo-header-Show .convo-header-text{
    position: relative;
    left: 0px;
    transition: left .3s;
  }
}
