.chat-head {
  width: 40px;
  height: 40px;
}
.tab-body{
  position: relative;
  border-bottom: 1px solid gray;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  background-color: var(--holo-blue);
  color: black;
}
.delete-chat{
  position: absolute;
  top:5px;
  right: 5px;
  color: red;
  display: none;
}
.tab-body:hover .delete-chat{
  display: flex;
}
.inactive-user{
}
.highlighted-user{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.online{
  height: 15px;
  width: 15px;
  position: absolute;
  transform: translate(25px, -10px);
  z-index: 1;
  border-radius: 50%;
  background-color: greenyellow;
}
.offline{
  height: 15px;
  width: 15px;
  position: absolute;
  transform: translate(25px, -10px);
  z-index: 1;
  border-radius: 50%;
  background-color: rgb(117, 117, 117);
}
.truncate{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:170px;
}
