.search-container{
    display: flex;
    overflow: hidden;
    justify-content: left;
    align-items: center;
}
.splash-logo-container{
    display: flex;
    position: absolute;
    width: 80vw;
    height: 10vw;
    top: calc(45vh - 10vw);
    justify-content: center;
    align-items: center;
}
.search-form-container{
    width: 50%;
    margin-top: 15px;
    justify-content: left;

}
.splash-logo-image{
    font-size: 10vw;
    margin: 0;
}
.search-bar-size{
    width: min(800px, 60vw);
}
.search-custom{
    width: 40vw;
}
.search-btn{
    border-radius: 0px;
    border-width: 1px 0px 1px 0px;
    border-color: #ced4da;
}
.filters-btn{
    border-radius: 0px 4px 4px 0px;
    border-width: 1px 1px 1px 1px;
    border-color: #ced4da;
}
    
