.options-container{
    border: 2px solid darkgray;
    border-radius: 30px;
    display: flex;
    height:130px;
    width: 50vw;
    left: 25vw;
    top: calc(90vh);
    font-size: 4vh;
    justify-content: center;
    position: fixed;
}
