.axes-toggle{
    border: 2px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-image: url("../../../../public/Axes.svg");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: -2px -15px;
    background-color: #ffffff;
}
.axes-toggle-container{
    position: absolute;
    top:100px;
    right: 20px;
    z-index: 1; 
}
.axes-plus{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-width: 1px 2px 2px 0px;
    border-radius: 0% 0% 100% 0%;
    top: 40px;
    right:0px;
    z-index: 1;
    background-color: #ffffff;
}
.axes-minus{
    background-color: #ffffff;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0% 0% 0% 100%;
    border-width: 1px 1px 2px 2px;
    top: 40px;
    right:40px;
    z-index: 1;
}
.axes-toggle:hover{
    border: 2px solid black;
    border-radius: 20px 20px 100% 100%;
    transition: border-radius .3s;
    
}
.axes-plus:hover{
    border: 2px solid black;
    border-radius: 0% 0% 10px 0%;
    border-width: 1px 2px 2px 0px;
    transition: border-radius .3s;
    
}
.axes-minus:hover{
    border: 2px solid black;
    border-radius: 0% 0% 0% 10px;
    border-width: 1px 1px 2px 2px;
    transition: border-radius .3s;
    
    
}
@media (max-width: 768px){
    .axes-toggle-container{
        position: absolute;
    top:140px;
    right: 20px;
    z-index: 1; 
    }
}